<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${name}"></h1>
    <h1 th:text="${lastname}"></h1>
    <h1 th:text="${email}"></h1>

    <a th:href="@{/list}">Ver listado</a>
    <a th:href="@{'/api/params/foo?message=' + ${title}}">Ver mensaje</a>
    <a th:href="@{'/api/params/foo(message='hola mundo')}">Ver mensaje concatenado</a>
</body>
</html>